.holder{
    padding: 10px 10px;
margin: 0 auto;
background-color: white;
background-image: url("./greencaard.jpg");
}
input{
    text-align: end;
}
.boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
label{
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(255, 0, 0);
}
span{
    color: rgb(221, 255, 0);
}